@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/jetbrains-mono';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-neutral: var(--color-white);
  --color-inverted: var(--color-black);
  --color-background: var(--color-slate-50);
  --color-foreground: var(--color-mauve-800);
  --color-accent: var(--color-mauve-300);
  --color-accent-foreground: var(--color-mauve-950);
  --color-border: var(--color-mauve-300);
  --font-sans: 'Inter Variable', sans-serif;
  --font-mono: 'JetBrains Mono Variable', monospace;
}

:root.dark {
  --color-neutral: var(--color-black);
  --color-inverted: var(--color-white);
  --color-background: var(--color-mist-950);
  --color-foreground: var(--color-mist-100);
  --color-accent: var(--color-stone-800);
  --color-accent-foreground: var(--color-stone-200);
  --color-border: var(--color-stone-700);
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  * {
    border-color: var(--color-border);
  }

  :focus-visible {
    outline: 2px solid var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply scrollbar-thumb-accent-foreground/50 scrollbar-track-accent;
  }

  [popover] {
    color: inherit;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}

@utility text-dim {
  color: color-mix(in srgb, var(--color-foreground) 60%, transparent);
}

@utility col {
  display: flex;
  flex-direction: column;
}

@utility row {
  display: flex;
  flex-direction: row;
}
