@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '@fontsource-variable/inter';
@import '@fontsource-variable/geist-mono';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--color-zinc-900);
  --color-border: var(--color-zinc-500);
  --color-text: var(--color-zinc-100);
  --font-sans: 'Inter Variable', sans-serif;
  --font-mono: 'Geist Mono Variable', monospace;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  * {
    border-color: var(--color-border);
  }

  :focus-visible {
    outline: 2px solid var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}

@utility text-dim {
  color: color-mix(in srgb, var(--color-text) 75%, transparent);
}

@utility col {
  display: flex;
  flex-direction: column;
}

@utility row {
  display: flex;
  flex-direction: row;
}
