*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json

!client/index.html
!client/lingui.config.ts
!client/manifest.json
!client/nginx.conf
!client/package.json
!client/tsconfig.json
!client/vite.config.ts
!client/src
!client/public

!server/drizzle.config.ts
!server/package.json
!server/tsconfig.json
!server/src
!server/templates
