*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json

!client/package.json
!client/index.html
!client/lingui.config.ts
!client/nginx.conf
!client/vite.config.ts
!client/tsconfig.json
!client/src

!server/package.json
!server/drizzle.config.ts
!server/tsconfig.json
!server/tsup.config.ts
!server/src
!server/templates
